.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "header topbar" "nav main" "footer footer";
}

.layout header {
  grid-area: header;
}

.layout .topbar {
  grid-area: topbar;
}

.layout main {
  grid-area: main;
  min-height: calc(100vh - 100px);
}
.layout aside {
  grid-area: nav;
}
.layout footer {
  grid-area: footer;
}
